<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
<div class="container">
    <h1>About Us</h1>

    <p>Welcome to Just Keyboards, where every keystroke is meticulously crafted for perfection. We are a team of keyboard enthusiasts, engineers, and designers committed to revolutionizing the way you interact with technology. At Just Keyboards, we believe that the keyboard is not just a tool, but an extension of self-expression—a gateway to unlocking creativity and productivity.</p>

    <h3>Our Mission</h3>

    <p>Our mission is straightforward: to provide keyboard enthusiasts and professionals with the ultimate typing experience. We strive to blend state-of-the-art technology with timeless design principles, creating keyboards that not only perform flawlessly but also inspire creativity and elevate user experience.</p>

    <h3>Craftsmanship</h3>

    <p>At Just Keyboards, craftsmanship lies at the core of our ethos. Every keyboard is meticulously designed and engineered to meet our exacting standards. From the selection of premium materials to precision assembly, we pay attention to every detail to ensure optimal performance and durability.</p>

    <h3>Innovation</h3>

    <p>Innovation drives us forward. Our team of experts is dedicated to pushing the boundaries of keyboard design and technology. Whether it's pioneering new key switch mechanisms or introducing ergonomic designs, we are committed to staying at the forefront of innovation.</p>

    <h3>Quality Assurance</h3>

    <p>Quality is paramount in everything we do. Each keyboard undergoes rigorous testing before leaving our facility to ensure it meets our stringent quality standards. We take pride in delivering products that are built to last, providing you with years of reliable performance.</p>

    <h3>Community</h3>

    <p>At Just Keyboards, we are more than just a company—we are a community. We understand the passion and enthusiasm that surrounds mechanical keyboards, and we strive to cultivate a vibrant and inclusive community of enthusiasts. Whether you're a seasoned veteran or new to the world of mechanical keyboards, you'll find a welcoming home among fellow keyboard enthusiasts at Just Keyboards.</p>

    <h3>Join Us</h3>

    <p>Experience the difference with Just Keyboards and elevate your typing to new heights. Whether you're a gamer, programmer, writer, or simply someone who appreciates the art of typing, we have the perfect keyboard for you. Join us on our mission to redefine the typing experience, one keystroke at a time.</p>
</div>
<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>